body {
    font-family: Arial, Helvetica, sans-serif;
    background: #121212;
    font-weight: bold;
    }
    
    .player{
      height: 95vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }
    .wrapper{
      border: 1px solid transparent;
      padding: 30px;
      border-radius: 20px;
      background-color: #1d1b1b;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    
    .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    
    .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border:2px solid 	#FFFAFA;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
    animation-name: rotating;
    /* animation-timing-function: ease-in-out; */
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }
    @keyframes rotating {
        0%{
            transform: rotate(0deg);
        }
    
        100%{
            transform: rotate(360deg);
        }
    }
    
    .now-playing {
    font-size: 1rem;
    }
    
    .track-name {
    font-size: 2.5rem;
    color: rgb(250, 247, 247);
    }
    
    .track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
    color: rgb(250, 247, 247);
    }
    
    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(250, 247, 247);
    }
    .active{
        color: black;
    }
    
    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    }
    
    .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(250, 247, 247);
    }
    
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    
    
    height: 5px;
    
   
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    
    
    width: 15px;
    height: 15px;
    background: white;
    
    cursor: pointer;
    border-radius: 100%;
    }

    
    .seek_slider {
    width: 60%;
    }
    
  